<h1>Dados Prf 2021</h1>

In [2]:
import numpy
import pandas as pd

<h1>Tarefa 1</h1>

**Abrindo todos os arquivos csv e armazenando-os em colunas do dataframe**

<h4><strong>correçao de erros:</strong><h4>
<li>Uso do encoding pois o padrão é "utf-8" e os csv estavam em latin-1</li>
<li>Separaçao por ";"(sep=";") pois os abençoados dos agentes não separaram por virgula (que é o padrão)</li>
<li>Desligamento da verificaçao de tipo através do low_memory=False pois as colunas 19 e 20 estavam em tipos misturados</li>
    
Concatenação de todos os meses no DataFrame "dados"

In [3]:
jan = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_01.csv", encoding='latin-1', sep=";", low_memory=False))
fev = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_02.csv", encoding='latin-1', sep=";", low_memory=False))
mar = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_03.csv", encoding='latin-1', sep=";", low_memory=False))
abr = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_04.csv", encoding='latin-1', sep=";", low_memory=False))
mai = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_05.csv", encoding='latin-1', sep=";", low_memory=False))
jun = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_06.csv", encoding='latin-1', sep=";", low_memory=False))
jul = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_07.csv", encoding='latin-1', sep=";", low_memory=False))
ago = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_08.csv", encoding='latin-1', sep=";", low_memory=False))
sete = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_09.csv", encoding='latin-1', sep=";", low_memory=False))
out = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_10.csv", encoding='latin-1', sep=";", low_memory=False))
nov = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_11.csv", encoding='latin-1', sep=";", low_memory=False))
dez = pd.DataFrame(pd.read_csv(r"C:\Users\gugab\Downloads\infrações_2021\infraçoes2021_12.csv", encoding='latin-1', sep=";", low_memory=False))

lista_meses = [jan,fev,mar,abr,mai,jun,jul,ago,sete,out,nov,dez]
dados = pd.concat(lista_meses)
dados

,Número do Auto,Data da Infração (DD/MM/AAAA),Indicador de Abordagem,Assinatura do Auto,Indicador Veiculo Estrangeiro,Sentido Trafego,UF Infração,BR Infração,Km Infração,Município,...,Enquadramento da Infração,Início Vigência da Infração,Fim Vigência Infração,Medição Infração,Descrição Especie Veículo,Descrição Marca Veículo,Hora Infração,Medição Considerada,Excesso Verificado,Qtd Infrações
0,106198fa7cfe8e9,2021-01-08,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,VOLVO,1,0,0,1
1,12963b279370873,2021-01-08,S,N,N,D,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,VOLVO,16,0,0,1
2,6b7a329810761b4,2021-01-10,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,OUTRA,7,0,0,1
3,a866e8850da632b,2021-01-11,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,MISTO,OUTRA,19,0,0,1
4,77bf454bcb08f99,2021-01-12,S,N,N,D,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,CARGA,MERCEDES BENZ,11,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414766,fc1dae9576ea34b,2021-12-30,S,N,N,D,SC,470,70,INDAIAL,...,244 X,2021-04-12,NaN,Nenhuma,PASSAGEIRO,HONDA,18,0,0,1
414767,5bf77a904246fbb,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,250 I d,2021-04-12,NaN,Nenhuma,PASSAGEIRO,YAMAHA,9,0,0,1
414768,0b765f11acbaa90,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,244 VII,2016-11-01,NaN,Nenhuma,PASSAGEIRO,YAMAHA,9,0,0,1
414769,f0b5cf3823828c6,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,244 VII,2016-11-01,NaN,Nenhuma,PASSAGEIRO,OUTRA,9,0,0,1
414770,53ed928f89652a5,2021-12-30,S,N,N,D,SC,470,70,INDAIAL,...,215 I a,2016-11-01,NaN,Nenhuma,PASSAGEIRO,VW,19,0,0,1

<h1><strong>TAREFA 2</strong></h1>

<h3>A)Obs: só foram computadas infrações no ano de 2021, portanto, a resposta é <strong>5241299</strong></h3>

<h3>B) A quantidade de variáveis pode ser obtida atraves do numero de colunas, para isso basta usar o len</h3>

<h3>C) Para obter as cidades com mais infraçoes, devemos contar a quantidade de ocorrencia dessas cidades em todo o dataframe, usando um value_counts. Para limitar em 5 ocorrencias, é ideal usar o head com o valor 5.</h3>

In [15]:
#Quantas infrações ocorreram em cada ano?
quant_infracoes = len(dados["Data da Infração (DD/MM/AAAA)"])
print(f"infraçoes em 2021: {quant_infracoes}")


#Quantas variáveis cada conjunto de dados registra?
quant_variaveis = len(dados.columns)
print(f"Quantidade de variáveis: {quant_variaveis}")


#Top 5 cidades com mais infraçoes
cidades_mais_infratoras = dados["Município"].value_counts(sort=True)
pd.DataFrame(cidades_mais_infratoras)
cidades_mais_infratoras = cidades_mais_infratoras.reset_index()

cidades_mais_infratoras.rename(columns={"index":"Município", "Município":"Infrações"}, inplace=True)
cidades_mais_infratoras.head(5)

infraçoes em 2021: 5241299
Quantidade de variáveis: 22

        Município  Infrações
0  RIO DE JANEIRO     194011
1         NITEROI     173277
2       MAIRIPORA     136054
3  BELO HORIZONTE     124818
4        ITABORAI     112712

<h1><strong>Tarefa 3</strong></h1>

<h3>A)Para ranquear os estados levando em consideraçao os estados com mais infrações basta contar o <i>.value_counts</i> de "UF_INFRAÇÃO" e ordena-los usando o sort.</h3>

In [14]:
ranking_estados = dados["UF Infração"].value_counts(sort=True)
ranking_estados = ranking_estados.reset_index()
ranking_estados.rename(columns={"index":"UF", "UF Infração": "Infrações"}, inplace=True)
print(pd.DataFrame(ranking_estados))


ranking_estados.to_csv("Ranking_estados.csv")


#por dia

#dados["Data da Infração (DD/MM/AAAA)"] = pd.to_datetime(dados["Data da Infração (DD/MM/AAAA)"])
#dias_dados = dados["Data da Infração (DD/MM/AAAA)"]
#pd.DataFrame(dias_dados)
#dias_dados.strftime("%A")

#Não consegui :(

    UF  Infrações
0   RJ     925055
1   SP     700587
2   MG     685155
3   BA     462102
4   MS     361411
5   PR     258554
6   SC     235609
7   GO     209939
8   MT     185499
9   ES     181184
10  RS     175898
11  CE     108999
12  PE     103562
13  DF     103324
14  PI      75364
15  RO      75280
16  RN      71667
17  PB      70457
18  PA      56854
19  MA      50279
20  AL      42632
21  SE      29262
22  TO      21430
23  AM      16952
24  AP      13629
25  RR      11370
26  AC       9245